
body{
	background: purple;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
}

h1{
	font-family: 'Alfa Slab One', cursive;
	font-size: 30px;
	font-weight: bold;
}
header{
	padding: 10px 10px 10px 10px;
}

#score {
	height: 100px;
	width: 200px;
	margin: 10px 10px 10px 10px;
	padding: 20px 10px 10px 10px;
}

#startId {
color : pink;
text-align: center;
position: absolute;
top: 50%
left:50%;
padding: 10px 10px 10px 10px;
}

#gameId {
color : pink;
border-width: 2px;
border-style: dashed;
padding: 10px 10px 10px 10px;
margin : 20px 20px 20px 40px;
}

li{
color : black;
border-width: thick;
border-style: solid;
background-color: beige;
padding: 10px 10px 10px 10px;
margin : 10px 10px 10px 10px;
}

footer{
text-align: center;
font-size: 12px;
}
